@import "tailwindcss";

/*
  A regra @font-face importa a fonte para uso no CSS.
*/
@font-face {
  font-family: 'RainyHearts';
  src: url('/rainyhearts.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'VCR OSD';
  src: url('/VCR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Determination Sans';
  src: url('/determination.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*
  Aplicamos a fonte ao 'body' para que ela seja a fonte padrão em todo o blog.
*/
body {
  font-family: 'RainyHearts', sans-serif;
}

/*
  O 'prose' agora usará a fonte padrão do body.
*/
.prose {
  @apply text-gray-700;
}

.font-vcr {
  font-family: 'VCR OSD', sans-serif;
}

.font-determination {
  font-family: 'Determination Sans', sans-serif;
}


